@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --def--primary: #feeeee;
    --inv--primary: #f05454;
    --def--secondary: #f5f6f7;
    --inv--secondary: #30475e;
    @apply font-OpenSans dark:bg-gray-800
}

h1 {
    @apply font-bold text-4xl uppercase dark:text-white

}

h2 {
    @apply font-bold text-3xl dark:text-white
}

h3 {
    @apply font-semibold text-2xl 
}   

h4 {
    @apply font-normal text-lg 
}

p {
    @apply font-light text-base
}

span {

    @apply font-medium text-base

}

li{
    list-style: none;
}
.link {
    @apply font-semibold text-base hover:text-blue-500
}
.link-active{
    @apply font-semibold text-base text-primary-500
}
.btn--primary{

    color: var(--inv--primary);
    @apply bg-primary-200 font-semibold text-xl
}
.btn--primary:hover{

    color: var(--def--primary);

}
.btn--primary::before{

    border: 1px solid var(--inv--primary);

}
.btn--primary:hover::after{

    background: var(--inv--primary);
}
.btn--secondary{
    @apply bg-secondary-200 font-semibold text-xl;
    color: var(--inv--secondary);
}
.btn--secondary:hover{

    color: var(--def--secondary);

}
.btn--secondary::before{

    border: 1px solid var(--inv--secondary);

}
.btn--secondary:hover::after{

    background: var(--inv--secondary);
}

.btn {
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    @apply w-full text-center md:w-64 px-2 py-4 flex justify-center

}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
    left: 0;
    height: 0;
    width: 100%;
}

.btn:hover {
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
    height: 100%;
}

.btn:hover:after {
    transition-delay: .35s;
    height: 100%;
}



.btn:before {
    bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.btn:after {
    top: 0;
    height: 0;
}




.project-card{

    @apply w-full p-8 flex flex-col gap-4 items-center rounded-2xl shadow-xl
}
.project-card img{
    @apply max-h-56
}
.simple-form {
    @apply w-full lg:w-1/2 p-6 flex flex-col gap-2 

}

.card--tech{

    @apply flex flex-col items-center
}
.card--tech-project-detail{
    @apply flex flex-col items-center
}
.card--tech-project-detail span{
    @apply  font-bold text-gray-600
}


.service-description {
    @apply py-8 lg:py-12
}
.service-description > div{
    @apply flex flex-col gap-4 md:w-2/3 mb-8;
}
.service-description a{

    @apply font-bold text-primary-400
}
.service-description a:hover{

    @apply text-primary-600
}
.service-description ul{
    @apply mx-6
}

.service-description ul li {
    @apply font-light text-base;
    list-style: square;

}

.service-description button {
    @apply mt-6
}
